{
  "plugins": [
    "hyperdom"
  ],
  "extends": [
    "standard",
    "plugin:hyperdom/recommended"
  ],
  "rules": {
    "no-console": "error",
    "prefer-const": "error",
    "no-var": "error",
  },
  "env": {
    "mocha": true
  }
}
